<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Estos son los datos <br>
A: {% for ax in a %}{{ax}}{% endfor %} <br>
B: {{b}} <br>
C: {{c}} <br>

</body>
</html>